<div class="search-container">
  <div class="content">
    <%= form_with model: @model, url: flight_search_index_path, local: true do |form| %>
      <div class="tail-number-input-container mb-3">
        <i class="fa-solid fa-magnifying-glass"></i>
        <%= form.text_field :tail_number, class: "form-control tail-number-input", placeholder: "Tail Number (ex: DA 4)", aria: { label: "Tail Number" } %>
      </div>

      <div class="row g-2">
        <div class="col-5">
          <%= form.date_field :date, class: "form-control date-picker", aria: { label: "Date" } %>
        </div>
        <div class="col-5">
          <%= form.time_field :time, class: "form-control", aria: { label: "Time" } %>
        </div>

        <div class="col-2">
          <%= form.submit "Search", class: "btn search-btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>