<div class="aircraft-section <%= "with-border" if browser.device.mobile? %>">
  <h2><%= aircraft[:details][:manufacturer] %> <%= aircraft[:details][:type] %></h2>
  <h3>Owned by <%= aircraft[:owner][:name] %></h3>
  <hr>

  <div class="descriptor-grid">
    <div class="descriptor">
      <p>Tail Number</p>
      <p><%= aircraft[:tail_number] %></p>
    </div>

    <div class="descriptor">
      <p>Engine Count</p>
      <p><%= aircraft[:details][:engine_count] %></p>
    </div>

    <div class="descriptor">
      <p>Engine Type</p>
      <p><%= aircraft[:details][:engine_type] %></p>
    </div>
  </div>
</div>