<div class="aircraft-section">
  <h2><%= aircraft[:details][:manufacturer] %> <%= aircraft[:details][:type] %></h2>

  <div class="descriptor-grid">
    <div class="descriptor">
      <p>Tail #</p>
      <p><%= aircraft[:tail_number] %></p>
    </div>

    <div class="descriptor">
      <p>Engine Count</p>
      <p><%= aircraft[:engine_count] %></p>
    </div>

    <div class="descriptor">
      <p>Engine Type</p>
      <p><%= aircraft[:details][:engine_type] %></p>
    </div>

    <div class="descriptor">
      <p>Description</p>
      <p><%= aircraft[:details][:description] %></p>
    </div>

    <div class="descriptor">
      <p>Owner</p>
      <p><%= aircraft[:owner][:name] %></p>
    </div>

    <div class="descriptor">
      <p>Owner Location</p>
      <p><%= aircraft[:owner][:location] %>, <%= aircraft[:owner][:location2] %></p>
    </div>
  </div>
<div>