<% if @view_model.has_flight_data_package? %>
  <% flight_data_package = @view_model.flight_data_package %>

  <div class="main-flight-page-container">
    <% if browser.device.mobile? %>
      <div class="mobile-conainter">
        <%= render 'flight', flight: flight_data_package.flight, aircraft: flight_data_package.aircraft %>
        <%= render 'aircraft', aircraft: flight_data_package.aircraft %>
        <div class="map-container">
          <%= render 'map', airports: flight_data_package.airports %>
        </div>
      </div>
    <% else %>
      <div class="overlay-container">
        <%= render 'flight', flight: flight_data_package.flight, aircraft: flight_data_package.aircraft %>
      </div>
      <div class="map-container">
        <%= render 'map', airports: flight_data_package.airports %>
      </div>
    <% end %>
  </div>

  <%= render 'search_modal', airports: flight_data_package.airports %>
<% else %>
  <p>No flight data available.</p>
<% end %>

