<!DOCTYPE html>
<html>
  <head>
    <title>FlightFlight</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

   <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>
  </head>

  <body>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
